<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WatGPA</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">WatGPA</div>
        
        {{if .Error}}
            <div id="message" class="error">{{.Error}}</div>
        {{else}}
            <div id="message" class="instruction">Upload your Unofficial Quest Transcript</div>
        {{end}}
        
        <form id="upload-form" action="/upload-transcript" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" accept=".pdf">
            <label for="file-input">Choose File</label>
        </form>

        {{if .GPA}}
        <div class="result">
            <h2>Your GPA is: {{printf "%.2f" .GPA}}</h2>
        </div>
        {{end}}
    </div>
    <script>
        const fileInput = document.getElementById('file-input');
        const form = document.getElementById('upload-form');
        const maxSize = 71 * 1024; // 71KB

        fileInput.addEventListener('change', () => {
            if (fileInput.files && fileInput.files.length > 0) {
                const fileSize = fileInput.files[0].size;
                if (fileSize > maxSize) {
                    alert("File is too large. Maximum size is 71KB.");
                    fileInput.value = "";
                } else {
                    form.submit();
                }
            }
        });
    </script>
</body>
</html>